
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <style>
        .error{
            color:red;
        }
    </style>
</head>
<body class="account-page">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-8 offset-md-2">

                        <!-- Login Tab Content -->
                        <div class="account-content">
                            <div class="row align-items-center justify-content-center">
                                @*<div class="col-md-7 col-lg-6 login-left">
                                        <img src="~/assets/img/login-banner.png" class="img-fluid" alt="Doccure Login">
                                    </div>*@
                                <div class="col-md-12 col-lg-6 login-right">
                                    <div class="login-header">
                                        <h3>Register</h3>
                                        <h3 class="text-danger">@ViewBag.LoginError</h3>
                                    </div>
                                    <form id="register_form">
                                        <div class="form-group">
                                            <label class="label">Name</label>
                                            <input type="text" class="form-control" id="txt_name" name="Name" />
                                        </div>
                                        <div class="form-group">
                                            <label class="label">Email/Username</label>
                                            <input type="email" class="form-control" id="txt_email" name="Email" />
                                        </div>
                                        <div class="form-group">
                                            <label class="label">Password</label>
                                            <input type="password" class="form-control" id="txt_password" name="Password" />
                                        </div>
                                        <button class="btn btn-primary btn-block btn-lg login-btn" id="register_form_submit" type="submit">Register</button>
                                        <div class="login-or">
                                            <span class="or-line"></span>
                                            <span class="span-or">or</span>
                                        </div>
                                        <div class="text-center dont-have">Already have an account? <a href="/Account/Login">Login</a></div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- /Login Tab Content -->

                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Content -->
    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/assets/js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/assets/js/script.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        jQuery.validator.addMethod("alphanumeric", function (value, element) {
            return this.optional(element) || /^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@@#$%&*])[a-zA-Z0-9!@@#$%&*]+$/i.test(value);
        }, "Please add numbers, alphabets and special charactes");
        $(function () {
            $('#register_form').validate({ // initialize the plugin
                ignore: "",
                rules: {
                    Email: {
                        required: true,
                        email: true
                    },
                    Password: {
                        required: true,
                        minlength: 9,
                        alphanumeric: true
                    },
                }
            });
        })
        $('body').on('click', '#register_form_submit', function (e) {
            e.preventDefault();
            var current = $(this);
            if ($('#register_form').valid()) {
                // disable button
                current.prop("disabled", true);
                // add spinner to button
                current.html(
                    `<span class="spinner-border spinner-border-md" role="status" aria-hidden="true"></span> Loading...`
                );
                var form = $('#register_form').serialize()
                $.ajax({
                    type: "POST",
                    //url: "/api/UserAccount/RegisterUser",
                    url: "/Account/RegisterUser",
                    data: form,
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    success: function (data) {
                        console.log(data);
                        if (data.isSuccess == true) {
                            alertDialogue(data.message, "success");
                            window.location.href = "/Dashboard/DisplayVitals";
                        }
                        else {
                            alertDialogue(data.message, "error");
                            // disable button
                            current.prop("disabled", false);
                            // add spinner to button
                            current.html('Register');
                        }
                    }
                });
            }
        })

        function alertDialogue(message, icon) {
            Swal.fire({
                icon: icon,
                title: message,
                showConfirmButton: false,
                timer: 2500
            })
        }
    </script>
</body>
</html>
